/* font-family: "PTSansRegular"; */
@font-face {
	font-family: "PTSansRegular";
	src: url("../fonts/PTSansRegular/PTSansRegular.eot");
	src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
	url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
	font-family: "PTSansItalic";
	src: url("../fonts/PTSansItalic/PTSansItalic.eot");
	src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
	url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
	font-family: "PTSansBold";
	src: url("../fonts/PTSansBold/PTSansBold.eot");
	src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
	url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter', sans-serif;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.filler {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

a:hover{
	text-decoration: none;
}

i{
	font-family: FontAwesome, serif;
}

ul{
	margin: 0;
	padding: 0;
}

html, body{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	min-height: 800px;
}

#up{
	opacity: 0.3;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: white;
	z-index: 100;
	text-decoration: none;
	background: #ec4848;
	width: 50px;
	height: 50px;
	border: 1px solid #ec4848;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
}

#up:hover{
	opacity: 1;
}

.header{
	min-height: 80px;
}

.header-responsive{
	height: 150px;
}

.navbar{
	margin: 0;
	padding-top: 20px;
}

#logo{
	display: inline-block;
	font-family: 'PTSansBold', sans-serif;
	font-size: 34px;
	line-height: 38px;
	color: #ec4848;
}

.navbar-toggle{
	background-color: #3f444a;
}

.navbar-toggle:active{
	background: black;
}

.navbar-collapse{
	padding: 0;
}

.icon-bar{
	background-color: white;
}

.mainmenu{
	float: right;
	font-size: 14px;
	font-family: 'RobotoCondensed-Bold', sans-serif;
}

.mainmenu ul{
	padding: 0;
}

.mainmenu li{
	display: inline-block;
	margin-left: 30px;
	line-height: 34px;
}

.mainmenu a{
	color: #3f444a;
}

.mainmenu a:hover{
	color:  #ec4848;
}

.mainmenu label{
	cursor: pointer;
}

.mainmenu input{
	border: none;
	width: 145px;
}

/*header end*/

main{
	position: relative;
}

#carousel a {
	z-index: 2;
	top: 41%;
}

.carousel-control {
	opacity: 0.9;
}

.carousel-control.right,
.carousel-control.left {
	width: 103px;
	height: 62px;
}
a.carousel-control.right,
a.carousel-control.left {
	background: none;
}

.slider{
	margin-bottom: 50px;
}

.slider .filler{
	padding-top: 20%;
}

.slider .filler .row{
	text-align: center;
}

.slide-text{
	color: white;
}

.slide-text h1{
	font-family: 'RobotoCondensed-Bold', sans-serif;
	font-size: 90px;
	letter-spacing: 11px;
}

.slide-text p{
	font-size: 14px;
	letter-spacing: 3px;
}

.slide p{
	font-size: 14px;
	margin-bottom: 40px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 5px;
}

 .btn{
	font-size: 16px;
	background-color: #ec4848;
	color: white;
	border: none;
	padding: 15px 30px;
	font-weight: bold;
	font-family: 'RobotoCondensed-Bold', sans-serif;
}

#arrowleft{
	left: 50px;
	transform: rotate(180deg);
}

.carousel-control img, .carousel-control img{
	opacity: 0.2;
}

.carousel-control img:hover, .carousel-control img:hover{
	opacity: 1;
}

.slide a:nth-child(2){
	position: absolute;
	top: 360px;
	right: 50px;
	opacity: 0.8;
}

.slide a:active{
	opacity: 1;
}

.whoweare{
	position: relative;
	min-height: 500px;
	padding-top: 50px;
	text-align: center;
	color: #3f444a;
	box-sizing: border-box;
	max-width: 100%;
}

.whoweare h1{
	margin: 0;
	font-size: 40px;
}

.whoweare .collapse p{
	padding: 40px 20px;
	font-size: 18px;
	width: 850px;
	display: inline-block;
	color: #5c6873;
	max-width: 100%;
	background-color: #f8f8f8;
}

.whoweare .panel p{
	margin: 0;
}

.whoweare .panel-heading{
	background-color: #3f444a;
	color: white;
}

.whoweare .panel-heading:active{
	background-color: #ec4848;
}

.whoweare .panel-group{
	margin-bottom: 0;
}

.statistics{
	text-align: left;
	max-width: 100%;
}

.statistics li{
	border: 1px solid #c4c4c4;
	border-radius: 2px;
}

.menu{
	padding: 0;
}

.whoweare #accordion{
	padding: 0 2% 0 0;
}

.whoweare .col-sm-6:last-child{
	padding: 0 0 0 2%;
}

.menu>li{
	list-style: none;
	display: block;
	font-size: 16px;
	padding: 20px;
	background-color: #3f444a;
	color: white;
	margin-bottom: 10px;
	font-family: 'PT Sans', sans-serif;
}

.menu>li:hover{
	cursor: pointer;
}

.describe{
	position: relative;
	background-color: #f8f8f8;
	color: #3f444a;
	display: block;
	width: 600px;
	transform: translate(-21px, 20px);
	padding: 30px 40px 30px 20px;
	border-right: 1px solid #c4c4c4;
	border-radius: 2px;
	box-sizing: border-box;
}

.describe li{
	list-style: none;
	border: none;
	color: #323232;
	font-family: 'RobotoCondensed-Bold', sans-serif;
}

.col-sm-6 .submenu{
	font-family: 'RobotoCondensed-Bold', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.submenu li{
	width: 100%;
	background-color: #f8f8f8;
	list-style: none;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.percent{
	color: white;
	background-color: #ec4848;
	display: block;
	padding: 1%;
}

.ourservice{
	min-height: 700px;
	text-align: center;
	color: #3f444a;
	box-sizing: border-box;
	position: relative;
}

.ourservice h2{
	font-size: 40px;
	margin: 0 0 50px 0;
}

.container-service{
	height: 450px;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	max-width: 28%;
	min-width: 250px;
	margin-right: 6%;
	box-sizing: border-box;
	display: inline-block;
	padding-top: 30px;
}

.container-service:last-child{
	margin-right: 0;
}

.container-service h3{
	margin-top: 40px;
	font-size: 22px;
}

.container-service p{
	text-align: justify;
	margin-left: 20px;
	font-size: 18px;
	max-width: 80%;
	margin-bottom: 40px;
	color: #5c6873;
	overflow: hidden;
	text-overflow: ellipsis;
}

 .container-service:hover, .container-service:hover p {
	background-color: #3f444a;
	 color: white;
}

@keyframes rotate {
	from {
		transform:  rotate(360deg);
	}
}

@keyframes knock{
	to {
		transform:  translateY(-10px) translateX(10px);
	}
}

@keyframes scale{
	50% {
		transform:  scale(0.1);
	}
	100% {
		transform:  scale(1);
	}
}

.container-service:first-of-type:hover svg{
	animation-name: rotate;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.container-service:nth-of-type(2):hover svg{
	animation-name: scale;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.container-service:last-of-type:hover svg{
	animation-name: knock;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.container-service:hover .cls-2{
	fill: white;
}

.join{
	box-sizing: border-box;
	position: relative;
	text-align: center;
	/*background: url('../images/blue.png') repeat-x;*/
	color: white;
	font-size: 18px;
}

.join .wrapper{
	padding-top: 8%;
}

.join h3{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}

.join p{
	width: 100%;
	display: inline-block;
}

.whatweoffer{
	position: relative;
	min-height: 500px;
	color: #3f444a;
	padding: 100px 100px 0;
	font-size: 18px;
	text-align: center;
}

.whatweoffer h1{
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	margin-bottom: 50px;
}

.whatweoffer figure{
	display: inline-block;
	text-align: left;
	margin-bottom: 30px;
}

.whatweoffer figcaption{
	float: right;
}

.whatweoffer h2{
	margin: 0 20px;
	font-size: 25px;
	text-transform: uppercase;
}

.whatweoffer p{
	margin: 20px;
	max-width: 400px;
	color: #5c6873;
}

.customer{
	position: relative;
	min-height: 550px;
	color: #3f444a;
	text-align: center;
}

.customer h1{
	font-size: 40px;
	margin: 0;
	text-align: center;
}

.customer figure{
	display: inline-block;
	text-align: left;
	margin-left: 20%;
	margin-bottom: 30px;
	margin-top: 40px;
}

.customer figcaption{
	float: right;
}

.customer h2{
	margin: 0;
	text-transform: uppercase;
	font-size: 25px;
	margin-left: 20px;
}

.customer h3{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 14px;
	text-transform: uppercase;
	color: #ec4848;
}

.customer p{
	font-size: 18px;
	max-width: 625px;
	margin-left: 20px;
}


.radiobutton{
	text-align: center;
}

.radiobutton label{
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    cursor: pointer;
    background-color: #3f444a;
    border-radius: 50%;
}

.radiobutton input:checked + label {
    background-color: #ec4848;
}

input[type="radio"]{
	display: none;
}

.city{
	min-height: 370px;
	box-sizing: border-box;
	position: relative;
}

.squares{
	display: flex;
	text-align: center;
	height: 100%;
	}

.ratio {
	margin: auto;
	width: 24%;
	display: inline-block;
}

.ratio-inner {
	position: relative;
	height: 0;
	border: none;
}

.ratio-item {
	padding-top: 100%;
}

.square {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	box-sizing: border-box;
	background-color: rgba(236,72,72,0.5);
	padding-top: 15%;
	color: white;
}

.square:hover{
	background-color: rgba(236,72,72, 1);
}

.square img{
	width: 58px;
	height: 52px;
}

.square h1{
	display: block;
	font-size: 40px;
	margin-bottom: 20px;
}

.square p{
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}

.meet{
	min-height: 600px;
	text-align: center;
	color: #3f444a;
}

.meet h1{
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.meet p{
	display: block;
	max-width: 700px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 50px;
}

.meet .wrapper div{
	display: flex;
}

.meet figure{
	display: inline-block;
	opacity: 0.8;
	position: relative;
	margin: 0 auto;
}

.meet img{
	width: 100%;
}

.meet figure:hover{
	opacity: 1;
	display: inline-block;
}

.meet figcaption{
	display: none;
}

.meet figure:hover figcaption{
	display: block;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: white;
	height: 100px;
	background-color: #ec4848;
	width: 100%;
}

.meet figure:hover figcaption h1{
	font-size: 25px;
	margin-top: 10px;
	text-transform: none;
	margin-bottom: 0;
}

.meet figure:hover figcaption h2{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
}

.meet figure:hover figcaption p{
	font-family: 'Glyphter', sans-serif;
	text-align: center;
	max-width: 268px;
	font-size: 18px;
	letter-spacing: 0.2em;
}

.meet figure:hover figcaption p a{
	text-decoration: none;
	color: white;
}

.meet figure:hover figcaption p a:hover{
	color: black;
}

.awesome {
	min-height: 900px;
	text-align: center;
	color: #3f444a;
	position: relative;
}

.awesome h1{
	font-size: 40px;
}

.awesome h2{
	font-family: 'Glyphter', sans-serif;
}

.awesome p{
	font-size: 18px;
	max-width: 700px;
	margin: 0 auto;
	line-height: 30px;
}

.awesome nav{
	margin-top: 80px;
	margin-bottom: 40px;
}

.awesome a{
	display: inline-block;
	text-decoration: none;
	color: #3f444a;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin-right: 30px;
}

.awesome a:hover{
	color: #ec4848;
}

.awesome figure{
	display: inline-block;
	margin: 10px 0;
	max-width: 320px;
}

.disc {
	background-image: url(../images/disc.png);
}

.datetime {
	background-image: url("../images/datetime.png");
}

.nike {
	background-image: url("../images/nike.png");
}

.colors {
	background-image: url("../images/colors.png");
}

.tree {
	background-image: url("../images/tree.png");
}

.pencils {
	background-image: url("../images/pencils.png");
}

.disc, .datetime, .nike, .colors, .tree, .pencils{
	width: 320px;
	height: 200px;
}

.disc:hover, .datetime:hover, .nike:hover, .colors:hover, .tree:hover, .pencils:hover{
	background-color: #ec4848;
	opacity: 0.6;
	background-blend-mode: multiply;
	border: 1px solid black;
}

.awesome figcaption{
	color: #5c6873;
}

.awesome figcaption h1{
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0;
}

.awesome figure p{
	max-width: 320px;
	font-size: 12px;
}

.icons{
	height: 130px;
	color: #3f444a;
	text-align: center;
}

.icons figure .work{
	filter: grayscale(1);
}

.icons figure .work:hover {
	z-index: 200;
	filter: grayscale(0);
}

.icons figure .work .layericon{
	background-image: url("../images/Layericon.png");
	position: relative;
	width: 31px;
	height: 32px;
	display: inline-block;

}

.icons figure .graphicriver:after{
	position: absolute;
	content: '';
	top: 4px;
	right: 4px;
	width: 38px;
	height: 41px;
	z-index: 100;
	background-image: url("../images/graphicriver.png");
	background-blend-mode: overlay;
}

.icons figure .forest:after{
	position: absolute;
	content: '';
	top: 6px;
	right: -4px;
	width: 27px;
	height: 27px;
	z-index: 100;
	background-image: url("../images/forest.png");
	background-blend-mode: overlay;
}

.icons figure .audiojungle:after{
	position: absolute;
	content: '';
	top: 4px;
	right: -3px;
	width: 30px;
	height: 32px;
	z-index: 100;
	background-image: url("../images/audiojungle.png");
	background-blend-mode: overlay;
}

.icons figure .codecanyon:after{
	position: absolute;
	content: '';
	top: 1px;
	right: -3px;
	width: 33px;
	height: 27px;
	z-index: 100;
	background-image: url("../images/codecanyon.png");
	background-blend-mode: overlay;
}

.icons figure .activeden:after{
	position: absolute;
	content: '';
	top: 5px;
	left: 3px;
	width: 28px;
	height: 27px;
	z-index: 100;
	background-image: url("../images/actieveden.png");
	background-blend-mode: overlay;
}

.icons h1{
	text-transform: uppercase;
	font-size: 40px;
}

.icons figure{
	display: inline-block;
	vertical-align: middle;
	line-height: 45px;
}

.icons figure img{
	width: 41px;
	height: 45px;

}

.icons figcaption{
	float: right;
	vertical-align: middle;
	font-size: 18px;
	margin-left: 10px;
}

.subscribe{
	height: 80px;
	background-color: #312b2b;
	color: #cccccc;
	font-size: 16px;
}

.subscribe .wrapper{
	position: relative;
}

.subscribe p{
	position: absolute;
	left: 0;
	top: 30px;
	margin: 0;
}

input[type="email"]{
	position: absolute;
	right: 0;
	top: 20px;
	height: 40px;
	width: 320px;
	padding-left: 20px;
	background-color: #f0f1f3;
}

input[type="submit"]{
	position: absolute;
	right: 0;
	top: 20px;
	height: 40px;
	background-color: #ec4848;
	border: none;
	font-family: 'Glyphter', sans-serif;
	color: white;
	padding: 0 20px;
}

footer{
	position: relative;
	min-height: 450px;
	background-color: #151515;
	text-align: center;
}

.column{
	display: inline-block;
	color: white;
	vertical-align: top;
}

.column p{
	color: #cccccc;
	text-align: justify;
	margin-bottom: 40px;
}

.column:first-child span {
	font-family: 'Glyphter', sans-serif;
	color: #3f444a;
	background-color: white;
	font-size: 20px;
	display: inline-block;
	height: 54px;
	width: 54px;
	margin: 1px;
	line-height: 54px;
	vertical-align: middle;
}

.column h1{
	margin-top: 20px;
	text-align: left;
}

.column li{
	list-style: none;
	text-align: left;
	color: #cccccc;
}

.column:nth-child(2) li:last-child{
	display: flex;
}

.column li::before{
	content: "\2713";
	color: #ec4848;
	font-size: 30px;
	vertical-align: middle;
	margin-right: 30px;
}

.column:first-child h1{
	font-size: 40px;
	color: #ec4848;
}

.column:first-child{
	max-height: 237px;
}

.column:first-child .iconbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.column:first-child a{
	margin: 1px;
}

.column:nth-child(3){
	text-align: left;
}

.column:nth-child(3) a{
	color: white;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	background-color: #ec4848;
	font-size: 14px;
	margin: 2px;
}

.column:last-child{
	text-align: left;
}

.column:last-child img{
	margin: 2px;
}

.footer-bottom{
	position: relative;
	height: 90px;
	background-color: #151515;
}

.bottomline{
	bottom: 90px;
	margin: 0;
	position: absolute;
	width: 100%;
	border-color: #534a4a;
	border-width: 3px;
}

.bottom{
	width: 100%;
	bottom: 0;
	height: 90px;
	color: #c5c5c5;
}

.bottom p{
	margin: 30px 0 0 0;
	float: left;
}

.bottom span{
	color: #ec4848;
}

.icon{
	float: right;
	text-align: right;
	font-family: 'Glyphter', sans-serif;
	margin: 30px 0;
	letter-spacing: 0.4em;
	font-size: 20px;
}
.icon a{
	color: #737373;
}



@media (max-width: 338px){
	.customer{
		min-height: 850px!important;
	}
}

@media (max-width: 342px){
	footer .column:first-child{
		max-height: 260px;
	}
}

@media (max-width: 353px) {
	.column:nth-child(2) li:last-child {
		line-height: 1.5 !important;
	}
}

@media (max-width: 360px) {
	main .whatweoffer{
		min-height: 1200px !important;
	}
}

@media (max-width: 397px) {
	.whatweoffer{
		min-height: 1100px !important;
	}
}

@media (max-width: 375px){
	.subscribe input[type="email"]{
		width: 82%;
	}
}

@media (max-width: 404px){
	main .join .filler .wrapper h3{
		font-size: 30px;
	}

	.whatweoffer .filler p{
		margin-right: 20px;
	}
}

@media (max-width: 423px){
	.customer{
		height: 780px!important;
	}
}

@media (max-width: 445px){
	main .join .filler .wrapper{
		padding-top: 1%;
	}
}

@media (max-width: 458px){
	.customer{
		height: 730px;
	}
}

@media (max-width: 485px){
	.whatweoffer p{
		margin: 20px 0 20px 20px;
	}
	.whatweoffer figcaption{
		max-width: 85%;
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 529px){
	.whatweoffer{
		min-height: 1000px;
	}

	.whatweoffer img{
		display: block;
		margin: 0 auto;
	}
	.whatweoffer h2{
		text-align: center;
	}
}

@media (max-width: 564px){
	.bottom{
		background-color: #151515;
	}

	.bottom p{
		float: none;
		text-align: center;
	}

	.bottom .icon{
		float: none;
		text-align: center;
		margin-bottom: 0;
	}
}

@media (max-width: 806px){
	.join .filler .wrapper{
		padding-top: 4%;
	}

	.ourservice .container-service{
		margin-right: 0.5%!important;
	}

	.ourservice .container-service:last-child{
		margin-right: 0!important;
	}
}

@media (max-width: 853px){
	.customer .wrapper figure{
		margin-left: 0;
	}
}

@media (max-width: 966px){
	.customer figure{
		margin-left: 10%;
	}
}

@media (max-width: 905px){
	.ourservice .filler .wrapper{
		padding: 0;
	}
}

@media (max-width: 933px){
	.header{
		min-height: 100px;
	}

	.mainmenu{
		float: left;
	}
}

@media (max-width: 966px){
	.customer figure{
		margin-left: 10%;
	}
}

@media (max-width: 1044px){
	.whatweoffer{
		height: 650px;
	}
}

@media (max-width: 1171px){
	.ourservice .container-service{
		margin-right: 3%;
	}

	.ourservice .container-service:last-child{
		margin-right: 0;
	}

	.ourservice h3{
		max-width: 220px;
		margin: 0 auto;
	}
}

@media (max-width: 1200px){
	.city .container-fluid{
		padding: 0;
	}

	.city .row{
		margin: 0;
	}

	.city .square:first-child{
		margin-left: 0;
	}

	.city .square:last-child{
		margin-right: 0;
	}

	.column:nth-child(2) li:last-child{
		line-height: 42px;
	}
}

@media (max-width: 1300px){
	.slider .filler .wrapper {
		padding: 0 4% 0 4%;
	}
}


@media (max-width: 767px){
	.whoweare{
		min-height: 750px;
	}

	.whoweare #accordion, .whoweare .col-sm-6:last-child{
		padding: 0;
	}

	.whoweare .panel-group{
		margin-bottom: 20px;
	}

	.whoweare .submenu{
		justify-content: inherit;
	}

	.ourservice{
		height: 1500px;
	}

	.ourservice .container-service{
		display: block;
		margin: 10px auto!important;
	}

	.ourservice .container-service:last-child{
		margin: 0 auto!important;
	}

	.customer{
		min-height: 680px;
	}

	.customer form{
		display: none;
	}

	.customer img{
		display: block;
		margin: 0 auto;
	}

	.customer figure{
		text-align: center;
	}

	.customer figure p, .customer figure h2, .customer h3{
		/*max-width: 767px;*/
		margin-left: 0;
	}

	.city .squares{
		flex-direction: column;
	}

	.city .ratio{
		margin: 0;
		width: 100%;
		max-height: 300px;
	}

	.city .ratio-item{
		padding-top: 100px;
	}

	.city .square{
		display: inline-block;
		line-height: 90px;
		vertical-align: middle;
		padding: 0;
		margin-bottom: 10px;
	}

	.city .square div{
		display: inline-block;
		height: 90px;
	}

	.city .square div h1{
		width: 90px;
	}

	.city .square div p{
		width: 122px;
	}

	.city .square img, .city .square h1, .city .square p{
		display: inline-block;
	}

	.city .square h1{
		line-height: 90px;
		vertical-align: middle;
		margin: 0;
	}

	.city .container-fluid img{
		display: none;
	}

	.meet .wrapper div{
		display: block;
	}

	.meet figure img{
		width: 268px;
		height: 300px;
		margin-bottom: 5px;
	}

	.icons{
		height: 350px;
	}

	.icons figure{
		display: block;
	}

	.icons figure div{
		width: 150px;
		margin: 0 auto;
		text-align: left;
	}

	.icons figure img{
		display: inline-block;
	}

	.icons figure figcaption{
		float: none;
		display: inline-block;
		margin: 0;
	}

	.subscribe{
		height: 130px;
	}

	.subscribe p{
		display: block;
		width: 100%;
		position: relative;
	}

	.subscribe form{
		position: relative;
		margin-top: 30px;
	}

	.subscribe input{
		position: relative;
		display: inline-block;
	}

	.subscribe input[type="email"]{
		vertical-align: top;
	}

	footer .column h1{
		text-align: center;
	}
}
