@font-face {font-family: "Gilroy"; src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot"); src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg"); }

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover{
  text-decoration: none;
}

body{
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 980px;
  }
}

.nav-item{
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  @media(max-width: 991px){
    width: 100%;
    display: block;
    padding-left: 30px;
    border-bottom: 1px solid #414144;
  }
  &:hover{
    .header__submenu{
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
    }
  }
  &.active{
    .nav-link{
      color: #ffd200;
    }
  }
  &.open-submenu{
    .header__submenu{
      @media(max-width: 991px){
        display: block;
      }
    }
  }
  &:before{
    @media(max-width: 991px){
      content: '';
      display: inline-block;
      height: 18px;
      background: #414144;
      border-radius: 50%;
      margin-right: 20px;
      width: 18px;
      position: absolute;
      top: 14px;
      left: 0;
    }
  }
}

.navbar-expand-md .navbar-nav .nav-link{
  padding-left: 15px;
  padding-right: 15px;
  @media(max-width: 1199px){
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar-toggler{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  @media(max-width: 991px){
    display: block;
  }
}

.navbar-toggler-icon{
  width: 25px;
  height: 1px;
  display: inline-block;
  background: #ffffff;
  position: relative;
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 25px;
    height: 1px;
    display: inline-block;
    background: #ffffff;
  }
  &:before{
    top: -8px;
  }
  &:after{
    bottom: -8px;
  }
}

.header{
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #414144;
  @media (max-width:991px) {
    height: 60px;
  }
  &__container{
    height: 100%;
    @media (max-width:1279px) {
      width: 890px;
    }
    @media (max-width:1199px) {
      width: 680px;
    }
    @media (max-width:991px) {
      width: 100%;
    }
  }
  &__row{
    height: 100%;
  }
  &__col{
    padding: 0;
    position: initial;
  }
  &__nav{
    height: 100%;
    @media (max-width: 991px) {
      height: initial;
      right: 0;
      top: 60px;
      position: absolute;
      background: #000000;
      z-index: 16;
      width: 290px;
    }
  }
  &__navbar{
    height: 100%;
    position: static;
    padding: 0;
  }
  &__submenu{
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 100px;
    left: 0;
    position: absolute;
    transform: translateY(100px);
    transition: .3s;
    min-width: 460px;
    background-color: #000000;
    padding: 25px 30px;
    border-bottom: 3px solid #ffd200;
    @media (max-width:991px) {
      position: static;
      flex-direction: column;
      display: none;
      padding: 14px 0 0 30px;
      visibility: visible;
      transform: none;
      opacity: 1;
      margin-left: -30px;
      border-top: 1px solid #ffd200;
      border-bottom: 0;
      min-width: 100%;
    }
  }
  &__submenu-list-container{
    width: 50%;
    @media(max-width: 991px){
      width: 100%;
    }
  }
  &__submenu-list-title{
    font-size: 16px;
    font-weight: 700;
    color: #888888;
    margin-bottom: 30px;
    @media (max-width:991px) {
      margin-bottom: 20px;
    }
  }
  &__submenu-link{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #202020;
    padding: 3px 0;
    @media (max-width:991px) {
      display: block;
      border-bottom: 0;
      margin-bottom: 20px;
    }
  }
  &__lang{
    position: absolute;
    right: 40px;
    top: 40px;
    @media (max-width:991px) {
      position: static;
      width: 100%;
      background: #ffffff;
      padding: 10px 15px;
      margin-bottom: 20px;
    }
    &:hover{
      .header__lang-list{
        opacity: 1;
        visibility: visible;
      }
    }
    &.opened{
      .header__lang-list{
        @media (max-width:991px) {
          display: block;
        }
      }
    }
  }
  &__lang-list {
    list-style:none;
    margin:0;
    padding-left:0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 20px;
    padding-top: 10px;
    @media(max-width: 991px){
      position: static;
      display: none;
    }
  }
  &__lang-current{
    font-size: 16px;
    color: #ffffff;
    display: flex;
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    @media (max-width:991px) {
      color: #000000;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      display: block;
      background: #ffffff;
      width: 7px;
      top: 12px;
      height: 1px;
      @media (max-width:991px) {
        background-color: #000000;
      }
    }
    &:before{
      transform: rotate(45deg);
      right: 5px;
    }
    &:after{
      transform: rotate(-45deg);
      right: 1px;
    }
    img{
      margin-right: 5px;
    }
  }
  &__lang-item{
    font-size: 16px;
    color: #ffffff;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    @media(max-width: 991px){
      color: #000000;
    }
    img{
      margin-right: 5px;
    }
  }
  &__nav-collapse{
    justify-content: space-between;
    height: 100%;
    @media(max-width: 991px){
      display: flex;
      flex-direction: column-reverse;
      height: 100%!important;
      padding: 15px 10px;
    }
  }
  &__nav-list{
    height: 100%;
    align-items: center;
    @media(max-width: 991px){
      width: 100%;
      align-items: flex-start;
    }
  }
  &__auth{
    @media (max-width:991px) {
      width: 100%;
    }
  }
  &__btn{
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    box-shadow: none;
    padding: 0 20px;
    height: 36px;
    cursor: pointer;
    @media(max-width: 991px){
      width: 100%;
      height: 48px;
      text-align: left;
      position: relative;
      padding: 0 0 0 30px;
      border-bottom: 1px solid #414144;
      text-transform: uppercase;
    }
    &:before{
      @media(max-width: 991px){
        content: '';
        display: inline-block;
        height: 18px;
        background: #414144;
        border-radius: 50%;
        margin-right: 20px;
        width: 18px;
        top: 14px;
        position: absolute;
        left: 0;
      }
    }
    &--reg{
      color: #ffd200;
      border: 1px solid #ffd200;
      @media(max-width: 991px){
        border: none;
        border-bottom: 1px solid #414144;
        color: #ffffff;
      }
    }
  }
}

.logo-container{
  position: absolute;
  left: 40px;
  top: 40px;
  @media (max-width:991px) {
    left: 20px;
    top: 20px;
  }
}

.nav-link{
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  transition: .3s ease-in-out;
  @media (max-width:991px) {
    text-transform: uppercase;
    padding: 12px 0;
  }
  &:hover{
    background: rgba(0,0,0, .25);
    color: #ffd200;
    &:before{
      width: 100%;
    }
  }
  &:before{
    content: '';
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    display: block;
    background-color: #ffd200;
    width: 0;
    transition: .3s ease-in-out;
    @media(max-width: 991px){
      display: none;
    }
  }
}

.slider-section{
  background-color: #171717;
  padding-top: 80px;
  min-height: 100vh;
  @media (max-width:991px) {
    padding-top: 60px;
  }
}

.carousel-inner{
  overflow: visible;
}

.carousel-item{

  &__content{
    display: flex;
    @media(max-width: 767px){
      flex-direction: column-reverse;
    }
  }
  &__text{
    min-width: 63%;
    width: 63%;
    padding-top: 130px;
    @media(max-width:991px){
      padding-top: 30px;
    }
    @media(max-width: 767px){
      width: 100%;
      text-align: center;
    }
  }
  &__title{
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 50px;
    @media(max-width:991px){
      font-size: 40px;
    }
    @media(max-width:767px){
      margin-bottom: 20px;
    }
  }
  &__btn{
    cursor: pointer;
    min-width: 217px;
    height: 50px;
    border-radius: 2px;
    background-color: #ffd200;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    border: none;
  }
  &__img{
    margin-left: -160px;
    @media(max-width: 1439px){
      max-width: 600px;
    }
    @media(max-width: 767px){
      max-width: 100%;
      margin: 0;
    }
    img{
      max-width: 100%;
    }
  }
}

.carousel-indicators{
  margin: 0;
  justify-content: flex-start;
  @media(max-width:767px){
    justify-content: center;
    bottom: 15px;
  }
}

.carousel{
  @media(max-width: 767px){
    padding-bottom: 50px;
  }
}

.carousel-indicators li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  opacity: 1;
  margin: 0 9px;
}

.carousel-indicators li.active{
  background: #ffd200;
}
